
*{
    margin: 0;
    padding: 0;
    
}

body{
    
    background: #000000;
    font-family: tahoma;
    font-size: 16px;
    line-height: 24px;
    color: rgb(212, 212, 212);
}


/*parallax**/
h2{
    font-size: 32px;
    line-height:  30px;
    font-weight: bold;
    margin-bottom: 1em;

}
.caption{
    width: 50%;

}
section{
    position: relative;

}
.caption{
    position: absolute;
   

}
#intro .caption{
    top: 100px;
    left: 200px;
    
}
#second .caption{
    top: 150px;
    right: 100px;
}
#third .caption{
    bottom: 100px;
    left: 100px;

}
#intro{
   
    background: url(images/lista_productos/1fondo.jpg) no-repeat fixed;
    background-size: cover;
    height: 770px;
    
}
#second{
    background:  url(images/lista_productos/2fondo.jpg) 50% 0 no-repeat fixed;
    height: 1300px;
    overflow: hidden;
}
#third{
    background: url(images/lista_productos/3fondo.jpg) 50% 0 no-repeat fixed;
    height: 600px;
    padding-bottom: 300px;
}
.shoe{
    background: url(images/lista_productos/botella1.png) 50% 0 no-repeat fixed;
    height: 1500px;
    right: 600%;
    
}


/* fin     parallax**/


/*seccion de paginas**/
section{
width: 100%;
height: 100vh;
}
a{
    position: absolute;
    top: 10%;
    left: 15%;
    
    transform: translate(-50%, -50%);
    width: 280px;
    height: 60px;
    text-align: center;
    line-height: 60px;

    font-family: sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 4px;
    font-size: 30px;
    transition: .5s;
    color: #000000;
    background: rgb(255, 255, 255);
    border-radius: 60px;
    border:3px solid rgb(94, 94, 94);
    box-shadow: 0 5px 20px rgba(0, 0, 0, .5);
    overflow: hidden;
}
a:before{
    content: ' ';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to left, #13ff75, #0bffd6);
    z-index: -1;
    border-radius:   60px;
    transform: scalex(0);
    transform-origin: right;
    transition: transform 0.5s ease-in-out;
}
a:hover:before{
    
  transform: scaleX(1);
  transform-origin: left;

}
.id2{
    top:25%;
}
.id3{
    top: 40%;

}
.id4{
    top: 55%;

}
.id5{
    top: 70%;

}
/*  fin    seccion de paginas**/